* {
    background-color: #000;
}
.button-search, .button-add, .button-primary {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.button-search {
    font-weight: 1000;
    width: 100px;
    border-radius: 20px;
    color: #259b9b;
    background-color: #fff;
}

.button-add {
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #00d1b2;
    color: #fff;
}

.button-primary {
    width: 150px;
    border: 2px solid #000;
    box-shadow: 3px 3px black;
    background-color: #2b78e4;
    color: #fff;
}